<!DOCTYPE html>
<html>
<head>
  <title>MTA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--Header font-->
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

  <!--Main font-->
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

</head>
<body>

	<%= render 'shared/header' %>
<%= yield %>
	<%= render 'shared/footer' %>

</body>
</html>
